<%- include('../views/element/head.ejs') %> <!-- Head -->
<body>
	 <%- include('../views/element/header.ejs') %> <!-- Header -->
	<div class="container">
		<h1><%= message %></h1>
		<h2>Weapon</h2>
		<% if(weapons.length) {%>
		<table class="table">
			<thead>
			  <tr>
				 <th scope="col">#</th>
				 <th scope="col">Name</th>
				 <th scope="col">Number</th>
				 <th scope="col">Platoon</th>
				 <th scope="col">Readiness</th>
			  </tr>
			</thead>
			<tbody>
				<% weapons.forEach( weapon => { %>
			  <tr>
				 <th scope="row"><%= weapon.id %></th>
				 <td><%= weapon.name %></td>
				 <td><%= weapon.number %></td>
				 <td><%= weapon.platoon %></td>
				 <th scope="col"><%= weapon.readiness %></th>
			  </tr>
			  <% }) %>
			</tbody>
		 </table>
		 <% } else {%>
			<h2 style="color: crimson;" >No weapons!</h2>
		<% } %>
	</div>
	<%- include('../views/element/footer')%> <!-- Footer -->
</body>
</html>